---
import { Button } from '@/components/ui/button';
import Layout from '../layouts/Layout.astro';

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { Separator } from '@/components/ui/separator';
import { Products } from '@/services/getProducts';

import '@/styles/globals.css';
import Image from 'astro/components/Image.astro';

const ProductsService = new Products();

let products;

try {
  products = await ProductsService.getAllProducts();
} catch {
  //
}
---

<Layout title='Welcome to Astro'>
  <main class='container'>
    <h1 class='text-6xl font-semibold text-center my-9'>Hello Astro</h1>
    <!-- <Button size='lg'>Click me</Button> -->
    <div class='flex gap-4 flex-wrap'>
      {
        products.map((product: any) => (
          <Card className='group w-80'>
            <CardHeader>
              <Image
                src={product.image}
                inferSize
                class='h-48 scale-[0.9] object-contain group-hover:scale-100 transition-all duration-300'
                alt={product.title}
              />
            </CardHeader>
            <CardContent>
              <CardTitle className='text-xl text-center my-2 truncate'>
                {product.title}
              </CardTitle>
              <CardDescription className='text-center'>
                {product.category.toUpperCase()}
              </CardDescription>
              <Separator className='my-3' />
              <p class='h-36 overflow-hidden'>{product.description}</p>
            </CardContent>
            <CardFooter className='flex justify-center'>
              <Button variant='outline'>Перейти</Button>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
